flows.json
[
    {
        "id": "98a6b7b9.882208",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2ec8c9ad.f981b6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4900d7fe.3f89b8",
        "type": "ibmiot",
        "z": "",
        "name": "Py",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "9f46b778.89f7b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Smart Agriculture and Irrigation Monitoring System",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "58d79c07.c2e384",
        "type": "ui_group",
        "z": "",
        "name": "Irrigation Monitoring System",
        "tab": "d15a3b6f.dfa4b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d15a3b6f.dfa4b8",
        "type": "ui_tab",
        "z": "",
        "name": "Smart Agriculture Based on IoT",
        "icon": "smart home",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf8e9330.9c5ad",
        "type": "ui_group",
        "z": "",
        "name": "group",
        "tab": "d15a3b6f.dfa4b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a9d18ada.570ec8",
        "type": "debug",
        "z": "98a6b7b9.882208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 194,
        "wires": []
    },
    {
        "id": "7ed502e5.a99bdc",
        "type": "ibmiot in",
        "z": "98a6b7b9.882208",
        "authentication": "apiKey",
        "apiKey": "4900d7fe.3f89b8",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1000110",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT Input",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": false,
        "allEvents": true,
        "allCommands": true,
        "allFormats": true,
        "qos": 0,
        "x": 90,
        "y": 134,
        "wires": [
            [
                "a9d18ada.570ec8",
                "29d25045.2e644",
                "39d43c1.35c79c4"
            ]
        ]
    },
    {
        "id": "29d25045.2e644",
        "type": "function",
        "z": "98a6b7b9.882208",
        "name": "temperature",
        "func": "msg.payload=msg.payload.d.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 74,
        "wires": [
            [
                "a9d18ada.570ec8",
                "a65a9e93.2ab98"
            ]
        ]
    },
    {
        "id": "39d43c1.35c79c4",
        "type": "function",
        "z": "98a6b7b9.882208",
        "name": "humidity",
        "func": "msg.payload=msg.payload.d.humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 114,
        "wires": [
            [
                "a9d18ada.570ec8",
                "d353544d.4d2b68"
            ]
        ]
    },
    {
        "id": "a65a9e93.2ab98",
        "type": "ui_gauge",
        "z": "98a6b7b9.882208",
        "name": "",
        "group": "58d79c07.c2e384",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "Degree Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 74,
        "wires": []
    },
    {
        "id": "d353544d.4d2b68",
        "type": "ui_gauge",
        "z": "98a6b7b9.882208",
        "name": "",
        "group": "58d79c07.c2e384",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 114,
        "wires": []
    },
    {
        "id": "310f41d.dcaeabe",
        "type": "ibmiot out",
        "z": "98a6b7b9.882208",
        "authentication": "apiKey",
        "apiKey": "4900d7fe.3f89b8",
        "outputType": "cmd",
        "deviceId": "1000111",
        "deviceType": "crop-out",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT OUT",
        "service": "registered",
        "x": 370,
        "y": 320,
        "wires": []
    },
    {
        "id": "ae3edb63.8b6208",
        "type": "http request",
        "z": "98a6b7b9.882208",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=cd727aa495e27e1c0de0b672fb432375",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "e7140bec.4ee2e8",
                "8e737dc6.9fb59",
                "78aa7fdc.083cb",
                "87bdbadb.5d5a58"
            ]
        ]
    },
    {
        "id": "9563070a.294008",
        "type": "inject",
        "z": "98a6b7b9.882208",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "ae3edb63.8b6208"
            ]
        ]
    },
    {
        "id": "e7140bec.4ee2e8",
        "type": "debug",
        "z": "98a6b7b9.882208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e737dc6.9fb59",
        "type": "change",
        "z": "98a6b7b9.882208",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 600,
        "wires": [
            [
                "6ed713ea.2a587c"
            ]
        ]
    },
    {
        "id": "78aa7fdc.083cb",
        "type": "change",
        "z": "98a6b7b9.882208",
        "name": "humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "1d510a81.487745"
            ]
        ]
    },
    {
        "id": "6ed713ea.2a587c",
        "type": "ui_text",
        "z": "98a6b7b9.882208",
        "group": "58d79c07.c2e384",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "1d510a81.487745",
        "type": "ui_text",
        "z": "98a6b7b9.882208",
        "group": "58d79c07.c2e384",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "87bdbadb.5d5a58",
        "type": "debug",
        "z": "98a6b7b9.882208",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "af62928a.93d22",
        "type": "ui_button",
        "z": "98a6b7b9.882208",
        "name": "",
        "group": "58d79c07.c2e384",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Motor ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "310f41d.dcaeabe"
            ]
        ]
    },
    {
        "id": "1c780911.eaf487",
        "type": "ui_button",
        "z": "98a6b7b9.882208",
        "name": "",
        "group": "58d79c07.c2e384",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Motor OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "310f41d.dcaeabe"
            ]
        ]
    }
]